
@using lang = webNews.Language.Language.Resource
<div class="webpartcontent">
<h2>
    <a href="../../thu-vien-hinh-anh/index.html" title="@lang.Image_Gallery">@lang.Image_Gallery</a>
</h2>
<div class="gallerylist">
    <ul class="list-item gallery">
        <li class="Gallery-item-1">
            <a href="#" title="Image gallery.">
                <img src="~/ThemeFE/Images/Gallery/giai-dau-nam-nay-co-gan-300-golfer-tham-du-va-de-lai-an-tuong-dep-trong-long-cac-golf-thu-41201442409am.jpg" alt="Giải đấu năm nay c&#243; gần 300 golfer tham dự v&#224; để lại ấn tượng đẹp trong l&#242;ng c&#225;c golf thủ." />
            </a>
        </li>
    </ul>
</div>
</div>