
@using lang = webNews.Language.Language.Resource
<div class="webpartcontent">
    <h2>
        <a href="../../thu-vien-hinh-anh/index.html" title="@lang.Video_Gallery">@lang.Video_Gallery</a>
    </h2>
    <div class="gallerylist">
        <embed width="245" height="135" wmode="transparent" type="application/x-shockwave-flash" src="https://www.youtube.com/v/m1g36ymGxNY" />
    </div>
</div>